.center {
  text-align: center;
  padding: 0px;
  h1 {
    margin-bottom: 10px;
  }
}

.cell {
	height: 60px;
	width: 60px;
}

.board{
	width: 500px;
	margin-left: -250px; /* half of your element's width */
	height: 500px;
	margin-top: -250px;  /* half of your element's height */

	position: absolute;
	/*for debugging*/
	/*background-color: yellow;*/
	top: 50%;
  left: 50%;
	td {
	    border: 0.5px solid black;
	}
}

